body {
	font-family: 'Alfa Slab One', sans-serif;
}

h1 {
	font-size: 40px;
	text-align: center;
	margin: 10px 0px 5px 0px;
    padding-top: 0px;
    padding: 5px;
    background-color: #c1ebb0;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

.about p {
    font-family: sans-serif;
    max-width: 70%;
    margin: auto;
    line-height: 20px;
}

.about h3 {
    max-width: 70%;
    margin: auto;
    padding: 20px 0px 10px 0px;
    color: darkseagreen;
    font-size: 130%;
}

.header {
    padding: 5px;
    margin: auto;
    background-color: darkseagreen;
}

.image {
    width: 45%;
    height: auto;
    display: block;
    margin: auto;

}

#leftmenu {
    float: left;
    width: 200px;
    background-color: #c1ebb0;
    padding: 2%;
    border-radius: 10px;
    max-width: 200px;
    height: auto;
}

#map {
	height: 90vh;
	width: auto;
    margin-left: 200px;
    margin-right: 200px;
    border-color: slategrey;
    border-radius: 10px;
    
}

#vismenu {
    float: left;
    width: 200px;
}

/*#choosedates {*/
/*    padding: 10px;*/
}

#authorize-button {
    padding: 2%;
    margin: 10px 10px 10px 0px;
}

#authorize-button:hover, #signout-button:hover, #get-events:hover {
    background-color: green;
    color: white;
}

#signout-button {
    margin: 10px 10px 10px 0px;
} 

#date1, #date2, #date, #get-events {
    margin: 10px 10px 10px 0px;
}


#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: relative;
    width: 100%;
    display: inline-block;
    text-align:center;
}

#nav li {
/*    float: left;*/
    display: inline-block;
    text-align: center;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#nav a:hover {
    background-color: black;
}

#nav a:active {
    color: darkseagreen;
}

h2 {
    text-align: center;
    margin: auto;
    font-size: 150%;
}

.teamcontainer {
    display: flex;
    flex-wrap: wrap;
    
    
}

